<mat-card class="w">
  <mat-card-header>
    <mat-card-title>Sistema de gestão de agropecuária</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [type]="showPassword ? 'text': 'password'" />
        <mat-icon matSuffix (click)="showPassword = !showPassword" class="c-pointer">
          {{showPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button color="primary">Acessar</button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
