<h2>{{editMode ? "Editar" : "Cadastrar"}} Gato</h2>

<form [formGroup]="formCat" (ngSubmit)="logInfo()">
  <p>
  <mat-form-field >
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name">
    <mat-error>Campo Obrigátorio</mat-error>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field >
    <mat-label>Comprimento</mat-label>
    <input matInput formControlName="length" type="number">
    <mat-error>Campo Obrigátorio</mat-error>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field >
    <mat-label>Peso</mat-label>
    <input matInput formControlName="weigth" type="number">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field >
    <mat-label>Raça</mat-label>
    <input matInput formControlName="race">
  </mat-form-field>
  </p>

  <button mat-flat-button
    type="submit"
    color="primary"
    [disabled]="formCat.invalid">
    Cadastrar
  </button>
  <button mat-stroked-button
    type="reset"
    color="primary">
    Limpar
  </button>
</form>
